<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to distributed spatial index project!</title>
</head>
<body>
<a href="shenzhen/original_data_10000">1. Pin 10000 original data on map.</a>
<a href="shenzhen/road_layer">2. Show road layer.</a>
<a href="shenzhen/road_midgps_cellid_10000">3. Pin 10000 road mid point and cell id.</a>
<a href="shenzhen/road_midgps_cellid_25285">4. Pin all road mid point and cell id.</a>
<a href="shenzhen/road_split">5. Show road split map according to different method.</a>
</body>
</html>